/* table, td, th {
  /* border: 1px solid black; */


table {
  margin: 1rem;
  border: 1px solid black;
  
}

td, th {
  padding: 1rem;
  border: 1px solid black;
}

#storeProfiles td {
  font-family: Arial, Helvetica, sans-serif;
}

thead, th {
  font-weight: bold;
  color: #E7ECEF;
  border: 1px solid black;
}

tfoot{
  background-color: rgba(112, 159, 165. .1);
}

th {
  font-weight: bold;
} 

* {
  box-sizing: border-box; 
}
td img {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}
header {
  background-color: #35524A;
}

main {
  background-color: #35524A;
}

body {
  background-color: #35524A;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* padding: 15px; */
  /* margin: 2rem; */
  /* justify-content: space-between;  */
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */



li a {
  display: block;
  color: rgb(10, 41, 73);
  /* text-align: center; */
  padding: 20px;
  text-decoration: none;
  padding-top: 15px;
  color: #F05D5E;
}

li {
  float: left;
}

li a:hover {
  background-color: #9a99a3;
}

main > section {
  background-color: #779CAB;
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  
}

footer {
  height: 100px;
  background-color: #83959c;
  text-align: right;
  margin: 25px;
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;
  
}

table {
  text-align: center;
}
nav img{
  height: 100px;
  width: 300px;
  margin-left: 50px;
}

span img {
  width: 400px;
  height: 320px;
  margin-top: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #6B4E71;
}

section {
  margin: 15px;
  display: inline-block;
  justify-content: center; 
}

span {
  width: 45%;
}

h6 {
  text-align: center;
}
