/* table, td, th {
  /* border: 1px solid black; */


table {
  margin: 1rem;
  border: 1px solid black;
  
}

td, th {
  padding: 1rem;
  border: 1px solid black;
}

thead, th {
  font-weight: bold;
  border: 1px solid black;
  color: #d8e2dc;
}


th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
} 

td {
  font-family: 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box; 
}
td img {
  border-radius: 50%;
  height: 50px;
  width: 70px;
  border: 1px solid black;
}
header {
  background-color: #168aad;
}

main {
  background-color: #264653;
}

body {
  background-color: #8da9c4;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

li a {
  display: block;
  /* text-align: center; */
  padding: 20px;
  text-decoration: none;
  padding-top: 15px;
  color: #f28482;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  float: left;
}

li a:hover {
  background-color: #264653;
}

main > section {
  background-color: #457b9d;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  border: 4px solid #edf2f4;
  justify-content: center; 
  
}

footer {
  height: 100px;
  background-color: #023047;
  text-align: right;
  margin-top: 25px;
}

article {
  width: 350px;
  margin-bottom: 15px;
  background-color: #edf2f4;
  overflow: auto;
  height: 300px;
  margin-right: 20px;
}


table {
  text-align: center;
  margin-top: 50px;
}
nav img{
  height: 100px;
  width: 250px;
  margin: 15 15 15 15;
}

span img {
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
  border: 2px dotted #f28482;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f28482;
  text-decoration: underline;
  font-size: larger;
  margin-bottom: 15px;
}


span {
  margin-left: 20px;
}

h6 {
  text-align: center;
  font-size: large;
  padding-top: 40px;
}

p {
  padding: 10px;
}
#storeProfiles {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid black;
  font-style: normal;
}

#storeProfilesHead {
  color: #e5e5e5;
  font-family: 'Times New Roman', Times, serif;
}

#storeProfilesBody {
  background-color: #264653;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color:#90e0ef;
}

#storeProfilesFoot {
  font-style: normal;
  align-items: center;
  color: #d8e2dc;
  font-weight: bold;
}

/* label {
  margin: 10px;
} */

fieldset {
  margin-left: 25px;
  margin-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
}

legend{
  padding: 15px;
}
button {
  margin-left: 60px;
}

#salesFooter {
  background-color: #e5e5e5;
  align-items: baseline;
}

legend {
  font-weight: bolder;
}


p.indent {
  text-indent: 30px;

}

#reviewsPic {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

article:hover {
  background-color: rgb(255, 191, 72);
}

#main:hover {
  background-color: #f28482;
}

h1 {
  font-size: xx-large;
  margin-top: 40px;
  font-weight: bolder;
  color: #193039;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
